@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
}


  /* Customize scrollbar */
  ::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; /* Set the track background to transparent */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Adjust the handle color and opacity */
    border-radius: 3px; /* Add some border radius to make it rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Adjust the hover color and opacity */
}